<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.edu.mapper.EduCourseMapper">
    <select id="selectPublishById" resultType="com.atguigu.edu.vo.response.PublishInfo">
        SELECT
            ec.id as courseId,
            ec.title AS courseName,
            ec.price,
            ec.lesson_num AS courseNum,
            ec.cover,
            et.name AS teacherName,
            es1.title AS parentSubject,
            es2.title AS childSubject
        FROM
            edu_teacher et
        JOIN edu_course ec ON et.id = ec.teacher_id
        JOIN edu_subject es1 ON ec.parent_subject_id = es1.id
        JOIN edu_subject es2 ON ec.child_subject_id = es2.id
        WHERE
            ec.id = #{courseId}
    </select>

    <select id="selectCourseAndBrotherByCourseId" resultType="com.atguigu.edu.vo.response.CourseAndBrother">
        SELECT
            es.title,
            es.price,
            es.lesson_num,
            es.cover,
            es.buy_count,
            es.view_count,
            et.name,
            et.avatar,
            et.career,
            esd.description
        FROM
            edu_teacher AS et
        LEFT JOIN edu_course AS es ON et.id = es.teacher_id
        LEFT JOIN edu_course_description AS esd ON es.id = esd.id
        WHERE
            es.id = #{courseId};
    </select>
</mapper>
